.conteiner {
    width: auto;
    margin: 0 auto;
}

.topbar {
    padding: 20px;
    color: #fff;
    background-color: #333;
    height: 60px;
    width: auto;
    box-shadow: 0 10px rgb(146, 146, 2);
    text-align: center;
    box-sizing: border-box;
}

.topbar-left {
    margin-left: 100px;
    font-size: 25px;
    float: left;
}

.topbar-right {
    float: right;
    margin-right: 50px;
}

.topbar a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.banner {
    background-size: 100% 100%;
    height: 600px;
    margin-top: 3px;
}

.banner-bot {
    background-color: black;
    text-align: center;
    width: auto;
    color: #fff;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    font-size: medium;
}

.div.button input {
    background: #ffcc80;
    font-size: medium;
    height: 55px;
    margin-bottom: 15px;
    padding: 20px;
    width: 30px;
}

.input {
    background: #ffcc80;
    font-size: medium;
    height: 55px;
    margin-bottom: 15px;
    padding: 20px;
    width: 30px;
}

.button {
    background: #ffcc80;
    float: right;
    margin-right: 130px;
    padding: 2px;
}

.banner h2 {
    text-align: center;
    margin-top: 70px;
    color: green;
    font-size: 40px;
}

.banner h3 {
    text-align: center;
    margin-top: 40px;
    color: darkgray;
}

.resim1 {
    margin-top: 150px;
    margin-left: 20px;
    width: 400px;
}

.resim2 {
    margin-top: 150px;
    margin-left: 20px;
    width: 400px;
}

.resim3 {
    margin-top: 150px;
    margin-left: 20px;
    width: 400px;
}

.banner2 p {
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 30px;
    color: black;
}

.banner3 p {
    font-weight: bold;
    font-size: 24px;
    margin-right: 190px;
    margin-top: -25px;
    color: black;
    text-align: center;
}

.banner4 p {
    font-weight: bold;
    font-size: 24px;
    margin-top: -25px;
    color: black;
    margin-left: 860px;
}

.banner5 p {
    font-size: 20px;
    margin-top: 25px;
    color: darkgrey;
    margin-left: 20px;
}

.banner6 p {
    font-size: 20px;
    margin-top: -25px;
    color: darkgrey;
    margin-left: 440px;
}

.banner7 p {
    font-size: 20px;
    margin-top: -25px;
    color: darkgrey;
    margin-left: 870px;
}

.banner8 p {
    margin-top: 75px;
    margin-left: 60px;
    text-align: center;
}

.banner8 h4 {
    margin-top: 15px;
    text-align: center;
}

.footer {
    text-align: center;
    border-bottom: 1px solid #fff;
    margin-top: 80px;
    width: 1350px;
    height: 300px;
    background-color: black;
}

.footer hr {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 50px;
    text-align: center;
    box-sizing: border-box;
}

.banner9 {
    margin-top: 60px;
    line-break: auto;
    font-size: 30px;
}

.banner9 :hover {
    color: blue;
}

.footer h5 {
    color: darkgray;
    font-size: large;
    margin-top: 60px;
}

.footer h5 span {
    color: yellow;
}

.banner9 i {
    color: darkgray;
    margin: 20px;
}

.hr {
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
    box-sizing: border-box;
}

.r {
    width: 100%;
}